/**
 * NavBar css
 *
 */

 .navbar-element > li > a {
   color: #ffffff;
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 20px;
 }

 .navbar-title {
   color: #ffffff;
   float: left;
   height: 50px;
   padding: 15px 15px;
   font-size: 18px;
   line-height: 20px;
 }

 .navbar-title:hover {
   color: #eaeaea;
   text-decoration: none;
 }

 .nav-links > li > a {
     color: #f1f1f1 !important;
     font-weight: 400;
 }

 .nav-links > li > a:hover {
    color: white !important;
    font-weight: 400;
 }
